:root {
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

#__next {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}


